body {
	text-align: center;
}

#editor { 
	height: 800px;
	width: 60%;
	display: inline-block;
	border-radius: 5px;
	text-align: left;
}

#testRules {
	display: inline-block;
	vertical-align: top;
	width: 18%;
	margin-left: 5px;
}

#requirements {
	text-align: center;
	display: inline-block;
	vertical-align: top;
	width: 18%;
	margin-left: 5px;
}

#title {
	width: 100%;
	font-size: 40px;
	text-align: center;
	padding:25px;
}

.tests, .testCases {
	border: 1px solid black;
	margin-top: 5px;
	width: 100%;
	padding-bottom: 15px;
}

.testCases {
	display: inline-block;
	margin-right: 5px;
}

.titles {
	text-align: center;
}

.task {
	color: red;
}

.structure {
	color: red;
}

.subtitle {
	margin-top: 0px;
}

.title {
	margin-bottom: 5px; 
}